pandas
tqdm
# For NVIDIA
pynvml
# For AMD (ensure ROCm is installed)
# pyrsmi
# Core ML Frameworks (install the appropriate one for your GPU)
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm5.6
# pip install tensorflow[and-cuda]
# General
timm
transformers
scipy
librosa
unidecode
inflect
tensorflow_hub
tensorflow-text
tf-models-official
